<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Vet view</title>
    <nav th:insert="home.html::menu_nav"></nav>
    <style>
        ::placeholder
        {
            color: black;}

    </style>
    <script>
        function searchKeyUpVetName() {
            // Declare variables
            var input, filter, spans, i, txtValue, trs;
            input = document.getElementById('searchVetName');
            filter = input.value.toUpperCase();
            spans = document.getElementsByClassName('vet_name');
            trs = document.getElementsByClassName('vet');
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < spans.length; i++) {
                txtValue = spans[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    trs[i].style.display = "";
                } else {
                    trs[i].style.display = "none";
                }
            }
        }
    </script>
</head>
<body>
<div class="container">
    <h1>Vets</h1>

    <a  th:href="@{/addvet}"class="btn-floating btn-large pulse left black" ><i class="material-icons " >add</i>
    </a>
    <table>
        <thead>
        <td>
            <input type="text" onkeyup="searchKeyUpVetName()"
                   name="searchVetName" id="searchVetName"
                   placeholder="Search vet name"/>
        </td>
        <tr >
            <td>Vet Id</td>
            <td>Vet First Name</td>
            <td>Vet Last Name</td>
            <td>Speciality</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="s : ${vets}" class="vet">
            <td th:text="${s.vetId}"></td>
            <td><span th:text="${s.firstName}" class="vet_name"></span></td>
            <td th:text="${s.lastName}"></td>
            <td th:text="${s.speciality}"></td>
            <td>
                <a th:href="@{/editvet/{id}(id = ${s.vetId})}">
                    <i class="small material-icons ">create</i>
                </a>
                <a th:href="@{/deletevet/{id}(id = ${s.vetId})}">
                    <i class="small material-icons"
                       onclick=" return confirm('You are sure you want to delete this vet from the list? ')">delete</i>

                </a>
                <a th:href="@{/vet/{id}/pets(id = ${s.vetId})}">
                    <i class="small material-icons">pets</i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>