.imgCenter {
  display: flex;
  align-items: center;
}
h2,h1 {
		font-size: 1.75em;
		line-height: 50%;
	}
	/* Split the screen in half */
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    /* Control the left side */
    .left {
      left: 0;
      background-color: #111;
    }
    /* Control the right side */
    .right {
      right: -50%;
      background-color: red;
    }
    /* If you want the content centered horizontally and vertically */
    .centered {
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    /* Style the image inside the centered container, if needed */
    /*.centered img {
                     width: 150px;
                     border-radius: 50%;
                   }
                   */
    .tabular{
    font-size: 10px;
    		line-height: 1.0em;
    }
   .center{
    text-align: center;
    margin-bottom: 15px;
     border-style: none;
    }
    .background{
    background-color: coral;
    }
.container{
text-align:bottom;
margin:15px;
image:align:left;
}
