<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Visit view</title>
    <nav th:insert="home.html::menu_nav"></nav>
    <link href="css/index.css" rel="stylesheet" type="text/css">
<!--    <style>-->
<!--    .input-filed,label{-->
<!--    color:black !important;-->
<!--        ::placeholder-->
<!--        {-->
<!--            color: black;}-->
<!--            body{-->
<!--body{-->
<!--            background-image:url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80");-->
<!--            background-attachment: fixed;-->
<!--            background-size: cover;-->
<!--        }-->

<!--tbody i {-->
<!--    color: black !important;-->
<!--}-->
<!--    }-->
<!--</style>-->
</head>

<body>
<div class="container">
    <h1>Visits</h1>
<!--    <a  th:href="@{/addvisit}"class="btn-floating btn-large pulse left black" ><i class="material-icons " >add</i>-->
    </a>
    <table>
        <thead>
        <tr>
            <td>Visit Id</td>
            <td>Date</td>
            <td>Description</td>

        </tr>
        </thead>
        <tbody>

        <tr th:each="s : ${visits}" class="visit">
            <td th:text="${s.visitId}"></td>
            <td><span th:text="${s.date}" class="visit_date"></span></td>
            <td th:text="${s.description}"></td>


            <td>
                <a th:href="@{/editvisit/{id}(id = ${s.visitId})}">
                    <i class="small material-icons">create</i>
                </a>
                <a th:href="@{/deletevisit/{id}(id = ${s.visitId})}">
                    <i class="small material-icons">delete</i>

                </a>
                <a th:href="@{/visit/pdf/}">
                    <i class="small material-icons">assignment</i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>