<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <nav th:fragment="menu_nav" xmlns:th="http://www.thymeleaf.org">
        <div class="nav-wrapper #4dd0e1 cyan lighten-2">
            <link href="index.css" rel="stylesheet" type="text/css">
            <a class="btn-floating btn-large pulse right black" th:href="@{/}"><i class="material-icons " >pets</i> </a>

            <a href="#" data-target="mobile-demo" class="sidenav-trigger #4dd0e1 cyan lighten-2"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down #4dd0e1 cyan lighten-2">

                <li><a th:href="@{/allvets}">Vets</a></li>
                <li><a th:href="@{/allpets}">Pets</a></li>
                <li><a th:href="@{/allowners}">Owners</a></li>
                <li><a th:href="@{/allvisits}">Visits</a></li>
                <li><a  th:href="@{/allpetsphoto}" ><i class="material-icons " style=" font-size:40px" >burst_mode</i></a></li>

            </ul>
        </div>
    </nav>

    <script th:fragment="nav_script" xmlns:th="http://www.thymeleaf.org" >
    $(document).ready(function(){
    $('.sidenav').sidenav();
    });
    </script>

</head>
<body>
<h1 class="center">Pet Clinic </h1>


</body>