<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">

    <div  th:insert="menu.html::menu_nav">
    </div>
    <a th:href="@{/home}"></a>
    <title>Pet Clinic Vassy</title>


</head>
<body>
<h1>Pet Clinic Vassy</h1>
<h2>Welcome</h2>

<!--<img src="/resources/static/images\pets.png" alt = "Animale frumoase"width="250"height="300"/>-->
<img alt="Imagini pentru catei si pisicute | Cute puppies and kittens, Cute ..." class="n3VNCb" src="https://i.pinimg.com/originals/fc/d8/e6/fcd8e661cbbc02a4b1e2322614c0d49d.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 433px; height: 325.258px; margin: 0px;">
</body>
</html>



