<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">

    <div  th:insert="menu.html::menu_nav">
    </div>
    <div  th:insert="home.html">
    </div>
    <title>Pet Clinic</title>


</head>
<body>
<h1>Pet Clinic</h1>
<h2>Welcome</h2>
<!--<div class="row">-->
<!--    <div class="col-md-12">-->
<!--        <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/static/images/pets.png}"/>-->
<!--    </div>-->
<!--</div>-->
<img src = "https://www.google.com/search?q=imagini+cu+caini+si+pisici&client=firefox-b-d&sxsrf=ALeKk00D1TfzmgIIeAiUDxYOl93McxTxLw:1597222487320&tbm=isch&source=iu&ictx=1&fir=5rc6EcsTY-91WM%252Ck1_XGC2R8HiYrM%252C_&vet=1&usg=AI4_-kQnSyWRRkqtvynPDl3t-1-kgtfVJg&sa=X&ved=2ahUKEwjghO-3pZXrAhVGpYsKHeYhAtUQ9QEwAXoECAkQGQ&biw=1536&bih=750#imgrc=mANvNdqEqWyF3M" alt = "Animale frumoase"width="500"height="600"/>
</body>
</html>



