<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Owner view</title>
    <nav th:insert="home.html::menu_nav"></nav>
</head>
<body>
<div class="container">
    <h1>Owner</h1>
    <a th:href="@{/addowner}">
        <i class="small material-icons">add</i>
    </a>
    <table>
        <thead>
        <tr>
            <!--            <td>Owner Id</td>-->
            <td>Owner First Name</td>
            <td>Owner Last Name</td>
            <td>City</td>
            <td>Address</td>
            <td>PhoneNumber</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="s : ${owners}">
            <td th:text="${s.ownerId}"></td>
            <td th:text="${s.firstName}"></td>
            <td th:text="${s.lastName}"></td>
            <td th:text="${s.city}"></td>
            <td th:text="${s.address}"></td>
            <td th:text="${s.phoneNumber}"></td>
            <td>
                <a th:href="@{/editowner/{id}(id = ${s.ownerId})}">
                    <i class="small material-icons">create</i></a>
                <a th:href="@{/deleteowner/{id}(id = ${s.ownerId})}">
                    <i class="small material-icons">delete</i></a>
                <a th:href="@{/owner/{id}/allpets(id = ${s.ownerId})}">
                    <i class="small material-icons">search</i>
                </a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>